<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DB Drive</title>
</head>
<body>
    <h1>Database Drive CSV</h1>
    <hr>
    <h2>How to Use</h2>
    <p>Send form data request as example below:</p>
    <code>
        {
            "index": 1,
            "identifier": "ID"
            "csv": "https://drive.google.com/file/d/1xxk2ASmwnPeAym1or8tCl5Xi6QTcmAqh/view?usp=sharing"
        }
    </code>
</body>
</html>